@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body, html{
    font-family: 'Lora', serif;
}
figure{
    margin: 0;
}
.btn{
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.btn__state--default{
    color: #333;
    border: 1px solid #d5d5d5;
}

.btn__state--default:hover{
    background-image: linear-gradient(#eee, #ddd);
}

.btn__state--default:focus{
    border: 1px solid #756666;
}

@media(max-width: 600px){
    .btn__state--default{
        width: 100%;
    }
}
