;; Analyzed by ClojureScript 0.0-3308
{:use-macros nil, :excludes #{}, :name helloworld.title, :imports nil, :requires nil, :uses nil, :defs {header {:protocol-inline nil, :meta {:file "/home/victormartins/Documents/repos/clojure-reagent/helloworld/src/helloworld/title.cljs", :line 3, :column 7, :end-line 3, :end-column 13, :arglists (quote ([message]))}, :name helloworld.title/header, :variadic false, :file "src/helloworld/title.cljs", :end-column 13, :method-params ([message]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 3, :end-line 3, :max-fixed-arity 1, :fn-var true, :arglists (quote ([message]))}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:div :class :h1}, :order [:div :h1 :class]}, :doc nil}