;; Analyzed by ClojureScript 0.0-3308
{:name helloworld.core, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {say-hello {:protocol-inline nil, :meta {:file "/home/victormartins/Documents/repos/clojure-reagent/helloworld/src/helloworld/core.cljs", :line 3, :column 7, :end-line 3, :end-column 16, :arglists (quote ([]))}, :name helloworld.core/say-hello, :variadic false, :file "src/helloworld/core.cljs", :end-column 16, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 3, :end-line 3, :max-fixed-arity 0, :fn-var true, :arglists (quote ([]))}}}